.price-history-container {
  width: 100%;
  max-width: 100%;
  height: auto;
  padding: 1rem 1.5rem;
  background-color: #ffffff;
  border: 1px solid #d1d5db; /* Tailwind gray-300 */
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.06);
  overflow-x: auto;
  transition: box-shadow 0.3s ease;
}

.price-history-container:hover {
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.08);
}



.price-history-container canvas {
  width: 100% !important;
  height: 100% !important;
}


.no-data {
  color: #9ca3af; /* Tailwind gray-400 */
  text-align: center;
  padding: 1rem;
  font-size: 1rem;
  font-style: italic;
}

@media screen and (max-width: 768px) {
  .price-history-container {
    padding: 1rem;
    border-radius: 10px;
  }

  canvas {
    max-width: 100%;
    height: 100%;
  }
}
